@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Volunteer</h2>
<p>There are many teams that you can get involved with as part of Lifebyte. No computer experience 
required. Joining Lifebyte is a great way to gain experience in everything from computer repair to 
website programming.</p>
    <h3>
        Administrative Team</h3>
        <p>            
            Administrative Team is the face of the Lifebyte Ministry. This Team co-ordinates
            all activities of this ministry. The primary responsibility of thie Team is to attend/check
            voice mails, updating waiting list, communicating with CCC Staff.
        </p>
    <h3>
        Equipment Team</h3>
<p>
            This typically saves an individual about $100 minimum which can be channelled towards
            blessing others and meeting other more basic needs. During the PC wash we:</p>
            <p>
                1. Blow out the dust from computers
            </p>
            <p>
                2. Using any parts that are available we increase the processing power of PC e.g
                by increasing the memory.
            </p>
            <p>
                3. Install antivirus software and other neccessary software (free from the internet)
                to protect the computer.</p>
            <p>
                4. Remove unneccessary software that might have found its way to the computer.</p>
            <p>
                5. Talk about the blessings of God to individuals willing to listen.</p>
            <p>
                If you have any frustrations with your computer, this is the place to be...Check
                our calender for up-coming dates!
            </p>
    <h3>
        Build Team</h3>
        <p>
            Build Team is responsible for Maintaining/updating “PC Processing Guide” document,
            Remain abreast of best free software used for build standards, Creation of build
            disks used for PC refurbishment, Creation of bootable &amp; tools disks used at
            PC WashRefurbish / build computers (group leader)
        </p>
    <h3>
       Repair Team</h3>
        <p>
            Repair Team is responsible for Contact recipients who require repair and facilitate
            the completion of the repair, Phone/In Person (Pickup), Coordinate with the Build
            Team when unrepairable computers require replacement, Update pre existing Lifebyte
            database information / LB numbers as needed
        </p>
    <h3>
        IT Team</h3>
        <p>
            IT Team is responsible for Lifebyte.org website maintenance / updates, Update database
            with any required changes, Maintain social media / networking presence via Facebook,
            Twitter
        </p>