@{
    ViewBag.Title = "Lifebyte - Volunteer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Volunteer</h2>
<p>
    There are many teams that you can get involved with as part of Lifebyte. No computer
    experience required. Joining Lifebyte is a great way to gain experience in everything
    from computer repair to website programming.</p>
<h3>
    Administrative Team</h3>
<p>
    Administrative Team is the face of the Lifebyte Ministry. This team coordinates
    all activities of this ministry. The primary responsibility of this team is to attend/check
    voice mails, updating waiting lists, and communicating with Colorado Community Church
    Staff.
</p>
<h3>
    Equipment Team</h3>
<p>
    This team picks up donations and takes them to our storage unit. They sort the donations
    into what the ministry can use. What we can't use is sent to our recycler, <a href="http://www.luminousrecycling.com/wp/">
        Luminous Recycling</a>.</p>
<h3>
    Build Team</h3>
<p>
    The Build Team takes the donated computers and rebuilds them. We use <a href="http://www.dban.org/">
        DBAN</a> to wipe the hard drives clean of any data. Additional hardware is added
    such as larger hard drives, more RAM, or better graphics cards. As a Registered
    Refurbisher with Microsoft, we are able to install Windows XP and Windows 7 on the
    donated PC's.
</p>
<h3>
    Repair Team</h3>
<p>
    The Repair Team is responsible for contacting recipients who require repair and
    facilitate the completion of the repair.
</p>
<h3>
    IT Team</h3>
<p>
    The IT Team is a fundraising arm of Lifebyte. We manage this website, coordinate
    PC Washes, classes, and help with website development.</p>
<p>
    Some groups wash cars to raise money, we wash PC's. During the PC wash we:</p>
<ol>
    <li>Blow out the dust from computers</li>
    <li>Using any parts that are available we increase the processing power of PC e.g by
        increasing the memory.</li>
    <li>Install antivirus software and other necessary software (free from the internet)
        to protect the computer.</li>
    <li>Remove unnecessary software that might have found its way to the computer.</li>
    <li>Talk about the blessings of God to individuals willing to listen.</li>
</ol>
<p>
    If you have any frustrations with your computer, this is the place to be... Check
    our calendar for up-coming dates!
</p>
