@{
    ViewBag.Title = "Lifebyte - Request a Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Request</h2>
<p>
    If you live in the Denver area and are in need of a computer, please call us at
    303-256-1224. A Lifebyte member will contact you as soon as possible. Please be
    patient, as sometimes request fulfillments can take over a month or two.
</p>
<p>
    Computers are prepared with a Windows operating system, a virus scan application
    and <a href="http://www.libreoffice.org/download/">Libre Office</a> suite (word
    processor, spreadsheet and presentation). Computers are bundled with a monitor,
    keyboard and mouse and are internet ready.
</p>
