@model Lifebyte.Web.Models.Core.Entities.Recipient
@{
    ViewBag.Title = "Lifebyte - Add Recipient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Recipient</h2>
@using (Html.BeginForm("Add", "Recipient", FormMethod.Post))
{
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Add Recipient" /></p>
}
<script type="text/javascript">
    choose("State_StateDropdownList", "State", "CO");
    choose("RecipientStatus_RecipientStatusDropdownList", "RecipientStatus", "Needs Computer");
    choose("ScheduleType_ScheduleTypeDropdownList", "ScheduleType", "");
</script>

