@model List<Lifebyte.Web.Models.Core.Entities.Recipient>
@{
    ViewBag.Title = "Lifebyte - Recipient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Recipient</h2>
<p>
    @Html.ActionLink("Add", "Add")
</p>
<p>
Search by status: 
@Html.EditorFor(r => r.FirstOrDefault().RecipientStatus)
</p>
<p>Search by Name.</p>
<p>First: <input type="text" id="FirstName" maxlength="50" /><br />
Last: <input type="text" id="LastName" maxlength="50" /></p>
<p>
<input type="button" id="searchButton" value="Search" />
</p>
@{ 
    var grid = new WebGrid(Model);
}
@grid.GetHtml(columns: grid.Columns(
                        grid.Column("Id", "", r => Html.ActionLink("Edit", "Edit", new { id = r.Id })),
                        grid.Column("RecipientStatus", "Status"),
                        grid.Column("FirstName", "First Name"),
                        grid.Column("LastName", "LastName")))
<script type="text/javascript">
    choose("RecipientStatus_RecipientStatusDropdownList", "RecipientStatus", "");
    $("#searchButton").click(function (i) {

        var searchCriteria = "status=" + escape($("#RecipientStatus").val())
            + "&fname=" + escape($("#FirstName").val()) + "&lname=" + escape($("#LastName").val());

        document.location = "/recipient/index/?" + searchCriteria;
    });
</script>