@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Computer</h2>
<br />
<br />

<p>Computers ready for delivery: [placeholder for field populated by LINQ]</p>


<p>People waiting for a computer: [placeholder for field populated by LINQ]</p>




