@model Lifebyte.Web.Models.Core.Entities.Computer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Computer</h2>
<br />
<br />

<p>Computers ready for delivery: [placeholder for field populated by LINQ]</p>


<p>People waiting for a computer: [placeholder for field populated by LINQ]</p>
<p>Perhaps on this page we list, by default, computers that do not have a recipient</p>
<p>Perhaps we have a button, a method,  to to Add a computer </p>

<p>Attempting to list </p>


@{ 
    var colNames = new List<string>();
    colNames.Add("LifebyteNumber");
    colNames.Add("License");
    colNames.Add("ComputerStatus");
    var computerGrid = new WebGrid(null, colNames);
                                            
    @computerGrid.GetHtml( columns: 
                          computerGrid.Columns(computerGrid.Column("LifebyteNumber", "Lifebyte #"),
                                               computerGrid.Column("License","License"),
                                               computerGrid.Column("ComputerStatus","Status")
                                              )
                         ); 
 }





@Html.DisplayForModel()
<p>below  is just an edit that probably would be on a differnt page.  On save would we want user
to remain, or be redirected to another page?</p>
@using (Html.BeginForm("Computer", "Computer", FormMethod.Post))
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
}





