@model List<Lifebyte.Web.Models.Core.Entities.Computer>
@{
    ViewBag.Title = "Lifebyte - Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Computer</h2>
<p>@Html.ActionLink("Add", "Add")</p>
@{ 
    var computerGrid = new WebGrid(Model);
    /*
                               
        @computerGrid.GetHtml(columns:computerGrid.Columns( 
    //computerGrid.Column(header:"",style: "text-align-center",
    //                                            format: (item) => new HtmlString(Html.ActionLink("Edit View", "Edit", new { id = item.Id }))
    //                                           ),   
                                    computerGrid.Column("Status","Status"),
                                    computerGrid.Column("LifebyteNumber", "Lifebyte #"),
                                    computerGrid.Column("LicenseType","License Type"),
                                    computerGrid.Column("License","License")
                                                                      )
                         )*/
}
