@model List<Lifebyte.Web.Models.Core.Entities.Computer>
@{
    ViewBag.Title = "Lifebyte - Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Computer</h2>
<p>
<p>@Html.ActionLink("Add", "Add")</p>
Search by status: 
@Html.EditorFor(c => c.FirstOrDefault().ComputerStatus)
</p>
<p>Search by LB Number:
<input type="text" id="LifebyteNumber" maxlength="50" /></p>
<p>
<input type="button" id="searchButton" value="Search" />
</p>
@{ 
    var grid = new WebGrid(Model);
}
@grid.GetHtml(columns: grid.Columns(
                            grid.Column("Id", "", c => Html.ActionLink("Edit", "Edit", new { id = c.Id }),
                                canSort: false),
                            grid.Column("LifebyteNumber", "Lifebyte #",
                                canSort: false),
                            grid.Column("LicenseType", "License Type",
                                canSort: false)),
                            mode: WebGridPagerModes.Numeric,
                            firstText: "First",
                            previousText: "Previous",
                            nextText: "Next",
                            lastText: "Last",
                            htmlAttributes: new { id = "computerTable" })
<script type="text/javascript">
    choose("ComputerStatus_ComputerStatusDropdownList", "ComputerStatus", "");
    $("#searchButton").click(function (i) {

        var searchCriteria = $("#ComputerStatus").val();
        
        if (!searchCriteria) {
            searchCriteria = $("#LifebyteNumber").val()
        }

        document.location = "/computer/index/" + escape(searchCriteria);
    });
</script>