@model Lifebyte.Web.Models.ViewModels.SignInViewModel
@{
    ViewBag.Title = "Lifebyte - Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    SignIn</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Sign In" />
    </p>
    <p>
        @Html.ActionLink("Register", "Register", "Account")
    </p>
}