@{
    ViewBag.Title = "Lifebyte - Welcome New Volunteer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Welcome New Volunteer</h2>
<p>
    Thank you for registering with Lifebyte.</p>
<p>
    <strong>Your account is still pending.</strong></p>
<p>
    If you need immediate access, call us at 303-256-1224 or e-mail 
    <a href="mailto:webmaster@lifebyte.org">webmaster@lifebyte.org</a>.</p>
